$color-primary-grey: #585858;
$font-primary-family: Helvetica, Arial, sans-serif;
a{
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}
h1{
  margin: 0;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
}
h2{
  margin: 0;
  font-size: 16px;
  style-type:none;
  margin:0px;
  font-size: 0.75rem;
  font-weight:normal;
  color:#bebebe;
}
h3{
    font-size: 16px;
    text-decoration: none;
}
p{
  line-height: 1.5;
  font-size: 16px;
  -webkit-text-size-adjust:none;
}

body{
  color: $color-primary-grey;
  font-family: $font-primary-family;
  -webkit-font-smoothing: antialiased;;
  display: block;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
  margin-bottom: 8px;
}
header{
  height: 150px;
  margin: 10px;
  div{
    float:left;
    padding-top: 50px;
  }
  nav{
    float:right;
    padding-top: 58px;
    ul{
      list-style-type:none;
      padding: 0;
      margin: 0;
      li{
        float:left;
        padding-left: 10px;
      }
    }
  }
}
.projectGridSection{
  div{
    width:300px;
    height:300px;
    margin:10px;
    float:left;

  }
}
a{
  h3{
    margin: 0;
    position: absolute;
    font-size: 16px;
    text-decoration: none;
    padding-left: 34px;
    padding-top: 30px;
    display: none;
  }
  img{
    width:300px;
    height:300px;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
  }
}
.standardLayout{
  margin: 10px;
}
