
    <header>

      <div>
        <h1>
          <a href="/index.html">
          Ian MacLeish
          </a>
        </h1>
        <h2>
          Game Design and Programming
        </h2>
      </div>

      <nav>
        <ul>
          <li>
            <a href="../menu/about.html">
              About
            </a>
          </li>
          <li>
            <a href="../menu/resume.html">
              Resume
            </a>
          </li>

          <li>
            <a href="../menu/contact.html">
              Contact
            </a>
          </li>
        </ul>
      </nav>

    </header>
