    <section class="projectGridSection">

      <!-- Boffer Quest - Personal Project -->
@@include('projects/bofferQuest.html')

      <!-- Virtual Reality Bike -->
@@include('projects/VRBike.html')

      <!-- Air Joran Allstar Weekend -->
@@include('projects/lastShot.html')

      <!-- Bar Crawl Game -->
@@include('projects/barCrawl.html')

      <!-- Suddenly Words -->
@@include('projects/suddenlyWords.html')

      <!-- Zombie Panic Simulation -->
@@include('projects/zombiePanic.html')

    </section>
