<section class="standardLayout">
      <div>
        <h1>
          About
        </h1>
        <p>
          Recently, Ian has been delving into website development. He is
          currently focusing on front end web development using HTML, CSS/SCSS,
          Javascript, Node.js, and Bootstrap, which he used to develop the
          <a href="http://www.battleforthering.com">Battle for the Ring</a> website.
        </p>
        <p>
          Ian has been designing and playing games for most of his life. He has
          experience in level design, camera controllers including virtual
          reality, 3D modeling, gameplay mechanics and more. In addition to
          multiple simulations such as a virtual reality bike experience, Ian
          has worked on several games. These include <a href="https://play.google.com/store/apps/details?id=com.OceanicBears.SuddenlyWords">Suddenly Words!</a>,
          and <a href="https://barcrawlgame.wordpress.com/">Bar Crawl: A Night to Forget</a>.
        </p>
      </div>
    </section>
