<section class="standardLayout">
      <div>
        <h1>
          Battle for the Ring Website
        </h1>
        <h3>
          Date: September 2016 - October 2016
        </h3>
        <h3>
          Link: <a href="http://www.battleforthering.com">Website</a>
        </h3>
        <p>
          Worked as a freelance designer and developer for the Battle for the Ring
          event website. Developed using Node.js, Bootstrap, Scss, and HTML.
          Worked with event staff and community leaders (who provided
          copy) to build a website with the goal of providing information and
          advertising Battle for the Ring IX, a 900 person event in January 2017.
        </p>
      </div>
    </section>
