<section class="standardLayout">
      <div>
        <h1>
          The Last Shot
        </h1>
        <h3>
          Date: February 2015
        </h3>
        <h3>
          Link: <a href="http://www.theverge.com/tldr/2015/2/17/8054427/nba-all-star-michael-jordan-last-shot-byron-russel-was-fouled">The Verge</a>
        </h3>
        <p>
          “When the experience kicks in, it’s like a video game augmenting real
          life. A path lights up on the ground to show you where to go. On each
          wall, 4K footage of a real crowd cheers or boos depending on whether
          you deliver. In the Utah scenario, the “home crowd” cheers when you
          miss.

          This jaw-dropping immersive environment was a collaboration between
          creative agency <a href="http://www.akqa.com/">AKQA</a>,
          video-production company Stardust, and Nike’s
          <a href="http://www.nike.com/us/en_us/c/jordan">Jordan</a> brand, and
          it’s part of a bigger suite of interactive experiences made to
          commemorate the 30th anniversary of the Air Jordan.” –
          <a href="http://www.wired.com/2015/02/michael-jordan-simulator-the-last-shot/">Wired</a>
        </p>
      </div>
    </section>
