<section class="standardLayout">
      <div>
        <h1>
          Virtual Reality Bike
        </h1>
        <h3>
          Date: November 2015
        </h3>
        <h3>
          Link: <a href="../../assets/pdf/VRBike.pdf">Virtual Reality Bike</a>
        </h3>
        <p>
          VRBike is a virtual reality bike riding experience built with Unity,
          Oculus Rift, and Arduino. Using rotary encoders we converted a
          stationary exercise bike into a VR experience, complete with 3D
          environmental sound, as well as DMX controlled wind and smells based
          on speed and in-game locations respectively.
        </p>
      </div>
    </section>
