<section class="standardLayout">
      <div>
        <h1>
          Experiment: Zombie Panic!
        </h1>
        <h3>
          Date
        </h3>
        <h3>
          Link
        </h3>
        <p>
          A simulation experiment for a zombie apocalypse using cellular
          automaton to simulate humans, zombies, and separatists. Humans are
          infected by the virus and are turned into zombies. As humans are
          killed by zombies, they begin to panic, leading to some of the humans
          to turn on each other.
        </p>
      </div>
    </section>
