<section class="standardLayout">
      <div>
        <h1>
          Boffer Quest
        </h1>
        <h3>
          Date
        </h3>
        <h3>
          Link
        </h3>
        <p>
          Boffer Quest is a visual novel style game with card based fighting
          mechanics. Enter the world of LARP and work your way up a socially
          awkward hierarchy by honing your strength, reputation, and alcohol
          tolerance. Travel to three different kingdoms to fight and meet with
          a myriad of characters, earning their respect, aid, and occasionally
          their affections as you go! In this medieval fantasy world, conflicts
          that cannot be solved via dialogue, will be battled out in a strategy
          card game format, with the results affecting the player's progression
          through the story.  The player's actions and choices in the visual
          novel will affect the types of cards they have access to, and the
          strategies he has the ability to play, as well as the progression of
          the story. Go forth and discover the ins and outs of a community as
          varied and diverse as the medieval fantasy realm it imitates!
        </p>
      </div>
    </section>
